<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourApp.NoActionBar.FullScreen"
        tools:targetApi="31">
        <activity
            android:name=".BinauralBeatsActivity"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".VisualizerView.java"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GlobalData"
            android:exported="false" />
        <activity
            android:name=".SoundPlayActivity"
            android:exported="false" />
        <activity
            android:name=".MusicGeneratorActivity"
            android:exported="false" />
        <activity
            android:name=".Instrumentadapter"
            android:exported="false" />
        <activity
            android:name=".InstrumentFunc"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".InstrumentAdapter"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Instrument"
            android:exported="true" />
        <activity
            android:name=".Emotion"
            android:exported="true"
            android:label="Emotion" />
        <activity
            android:name=".Padengine"
            android:exported="false" />
        <activity
            android:name=".PadDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Padadapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".PadFunc"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Pad"
            android:exported="false" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Tranguiltunes" /> <!-- Soundscape Activity -->
        <activity
            android:name=".Soundscape"
            android:exported="true"
            android:label="Soundscape" />
    </application>

</manifest>